<<h1 class="animated shake">Wildlife Park</h1>
<h2>Record sightings.</h2>
<p><a href="/animal/new">Add Animal to System</a></p>
<p><a href="/sightings">Record a sighting</a></p>
             </div>
            </div>
        </div>
    </div>
    <div class="mask rgba-white-slight"></div>
</a>
        </div>